* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-size: 100% 100%;
}
/*mobile view*/

@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

/*consistent design- design attributes on every single page*/

body{
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}
/*javascript features*/

.checkbox { /*Progress bar*/
	opacity: 0;
	position: absolute;
}


.label { /*aka lightbulb size*/
    font-size: 1em; 
}

/* waving hand animation*/

.wave {
    animation-name: wavinghand; 
    animation-duration: 2.5s;       /*speed of wave*/
    animation-iteration-count: infinite; 
    display: inline-block; 
    transform-origin: 80% 100%;       /*pivot point of wave*/
  }
  
  @keyframes wavinghand {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/*DARK/LIGHT MODE*/

/* LIGHT MODE -  */
body.light {
    background-color: white; 
    color:white; 
  }

  body.light a { /*navbar is grey on light mode instead of black which is default*/
    color:grey;
  }

  body.light #title a{ /*targets my name "logo" specifically so it doesn't change grey w the nav*/
      color: black;
  }

  /* DARK MODE */

  body.dark { /*so that the background is all black, and default text color is white*/
    background-color: black; 
    color:white;
  }


  body.dark #title a{ /*targets my name "logo" specifically so it doesn't change grey w the nav*/
    color: white;
}

body.dark .ityped{ /*changes the typing font to white*/
    color: white;
}

  body.dark h1 {  /*turns Hello! I'm claire white, on dark mode*/
    color:white;
  }


  body.dark .main-text p{ /*main-text p is the text under DESIGNS on the design page*/
    color:grey; 
  }


body.dark .main-text.moreinfo h2{ /*the second secton of about me for fun stuff*/
    color: white;
}


body.dark .body-text{
    color: white;
}

body.dark .body-text h2 {
    color: white;
}

body.dark .form label {
    color: white;
}

body.dark .navbar .container-flex #active{
    color: white;
}

body.dark .navbar .container-flex ul :hover{ 
    color: white;

}  

body.dark .footerlinks ul li :hover{  
    /* text-decoration: underline; */
    color: white;
    /* text-underline-offset: 8px; */
}
body.dark .main-text h2 {
    color: white;
}   

footer.dark  {
    background-color: black;
}   


ul {
    list-style-type: none;
}

#title{ /*title is the "logo" aka my name*/
    font-size:  2em;
    padding-right: 30%;
    padding-top: 10%;
    padding-bottom: 3%;
    font-weight: 400;
}

.container { /*container that holds the down arrow*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15%;
    padding-top:30%;
  }

.arrow {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: gray;
    border-width: 0px 3px 3px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }

  h1, h2 {    /* spacing for main header texts */
    line-height: 1.1;
}

ul li { /*adjusts the spacing of the container holding the nav elements so it's on a seperate line from the logo title*/
    font-size: 1em;
    padding-left: 5%;
}

.navbar{
    height: 70px;
    color: black;
}

.navbar ul{
    display: flex;
    flex-wrap: wrap;
}

.navbar a{
    color: black;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
}

.navbar .container-flex .logo {
    padding-left: 3%;   
    padding-top: 0%;
}

.navbar .container-flex #active{ /*active navbar*/
    text-decoration: underline 2px;
    text-underline-offset: 8px;
    color:black;
}  

.navbar .container-flex ul :hover{  /*hover navbar*/
    text-decoration: underline 2px;
    text-underline-offset: 8px;
    color: black;

}  

/*HOME PAGE */

.main-text { /*THIS is all of the main text, header and paragaph*/
    padding-right: 3%;
}

.main-text h1{ /*main BIG text in the middle of the page just the header*/
    font-size: 5em;
    padding-left: 11%;
    padding-top: 50%;
    color: black;
    font-weight: 600;
}

.main-text p{ /*just the paragraph*/
    color: black;
    font-size: 1.1em;
    text-align: left;
    padding-left: 8%;
    padding-right: 3%;
}


.ityped { /*typing animation*/
    font-size: 1.1em;
    padding-left: 11%;
    font-weight:400;
    color: black;
}


footer.style {
    text-align: left;
    padding-top: 10%;
}

.footerlinks ul li a{ /*gotta do all this exta shit to adjust the footer text*/ 
    font-size: 1.25em;
    text-decoration: none;
    padding-left: 5%;
}

.footerlinks ul li :hover{  
    text-decoration: underline;
    color: black;
    text-underline-offset: 8px;
}

.footerlinks ul li { /*this is the block for the text*/ 
    padding-bottom: 5%;
}


.footerlinks {
    padding-bottom: 10%;
    padding-top:8%;
}

.footerlinks p{
    color: grey;
    padding-left: 8%;
    font-size:1.25em;
    padding-bottom: 5%;
    margin-left: auto; 
}




section { /*sizing of the annoying parallax thing!*/
    height: 70vh;
    display: flex;
}

.parallaxscroll section {
  /* background-size: 10vw; */
  /* width: 100vw; */
  background-size: cover;
}


/* .parallaxscroll section h1 {
  color: transparent;} */

.parallaxscroll section:first-of-type {
background-image: url(artwork1.jpg);
}
.parallaxscroll section:nth-of-type(2) {
background-image: url(splashpagehome.png);
}
.parallaxscroll section:last-of-type {
background-image: url(pic6.png);
}

/* .moreinfo h2{
    padding-left: 5%;} */

/* .wontainer{ */
    /* scroll-snap-type: y mandatory; */ */
    /* overflow-y: scroll; */
    /* padding-top: 20%;
}*/


/* ABOUT PAGE **************************************************************************************/
.main-text h2{ /*That one line of text on the about you page*/
    font-size: 2.2em;
    text-align: left;
    color: black;
} 
/*EDIT: IMAGE IS not aligned because of the right padding for main text, but I can't remove it or else the waving hand on page one will not
move onto a new line, so if you want to remove it for the about page, you have to make a new class*/

.main-text p{  /*how close the paragraph text is to the big font and spacing between that text and ur image*/
padding-top: 2%;
padding-bottom: 15%;
}

.main-text p .civixtext{  /*special color text of companies*/
color: #dc143c;
font-weight: bold;
}

.main-text p .whylinetext{  
color: #ff7f50;
font-weight: bold;
}

.main-text p .umichtext{  
color: #4169e1;
font-weight: bold;
}

.bodyandimage img { /*MY PICTURE!!*/
    max-height: 70%;
    padding-left: 5%;
    padding-bottom: 0%;
    padding-right: 2%;
    }
    

/*CONTACT PAGE**************************************************************************************************************************/
/*i think THIS IS SAFE TO DELETE??? WITHOUT RUINING THE HOME PAGE SNAP SCROLL??*/
/* input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }
  
  #message {
    padding-bottom: 100px;}
      
  input[type=submit] {
    width: 40%;
    background-color: orange;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;

  }
  
  input[type=submit]:hover {
    background-color: #E88404;
  }
  
  .form {
    padding: 8%;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    padding-top: 25%;
    } 
  } */


  .parallaxscroll section { /*needed for SURE to get the cool scroll layer effect*/ /*HOW DO I MAKE THE OPEN SCROLL BOX BIGGER UGH*/
    background-attachment: fixed;
    /* background-size: 100% auto; */
    display: flex;
    height: 100vh;
  }


  .parallaxscroll section h1 {
    margin: auto;
    color: black;
    font-size: 3em;
    text-align: right;
    padding-left: 0%;
    font-weight: 400;
  }


  .parallaxscroll section h1 .ibudget{       
     margin: auto;
    color: black;
    /* font-size: 2em; */
    text-align: right;
    padding-left: 0%;
    font-weight: 400;
    text-decoration: none;
    background-color: rgba(200, 196, 244, 0.54);
  }



  .parallaxscroll section h1 .integrate{       
    margin: auto;
   color: black;
   /* font-size: 2em; */
   text-align: right;
   padding-left: 0%;
   font-weight: 400;
   text-decoration: none;
   background-color: rgba(248, 161, 137, 0.54)
   ;

 }



/*ARTWORK PAGE **************************************************************************************************************/


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

/*tablet tablet viewtablet viewtablet viewtablet viewtablet viewtablet viewtablet viewtablet view*/

    #title{
        font-size:  2em;
        padding-right:50%;
        padding-left: 8%;
    }

    .label {
        font-size: 2em; 
    }
    
    
    /* .logo {
            font-size: 4.25em;
        } */
        
        /* .navbar ul{
        flex-direction: column;
        align-content: flex-end;
        align-items: flex-end;
        padding-right: 5%;
        padding-top: 10%;
        } */

    
        .navbar a{
            font-size: 1.5em;
        }
      

        .main-text h1{
            font-size: 7em;
            padding-top: 50%;
        }
    
        .main-text .designpageparagraph {
            font-size: 3em;
            font-weight: 400;
            padding-left:12%;
        }
        .main-text p{
            font-size: 1.75em;
            padding-bottom: 15%;
            padding-left:12%;
            padding-right: 5%;
        
        }
    
        .main-text h2{ 
            font-size: 3.5em;
            color: black;
            padding-left:14%;
        }    
    
        .ityped {
            font-size:4em;
        }

        ul li {
            padding-left: 8%;
        }

        .moreinfo p{
            padding-left: 15%;
        }
    /* Home sceen scroll adjusting size */
    
    /* .one img{
        width: 70vh;
        padding-left: 5%;
        padding-top: 10%;
    }
    .two img{
       padding-top: 8%; 
       padding-left:27%;
       width: 75%;
       padding-bottom: 10%;
    } */
    
    /* .scrolltext p{
        font-size: 1.35em;
        padding-left: 15%;
        padding-top: 0%;
    }
    
    .scrolltext2 p{
        font-size: 1.35em;
        padding-top: 10%;
    } */
    
    /*UI/UX PAGE**************************************************************************************/
        /* .image-galleryone {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            justify-content: center;
            padding-bottom:5%; 
            padding-top: 20%;
        }
    
        .image-gallerytwo {
            grid-template-columns: auto auto ;
            grid-template-rows: auto auto auto;
            justify-content: center;
            padding-bottom: 5%; 
        }
     */
/*     
        .body-text { 
        font-size: 1.8em;
        width: 95%;
        padding-left: 7%;
        } */
    
    /* DESIGN PAGE ***************************************************************************************/
    

      
    /*ABOUT ME PAGE **************************************************************************************************************************************************************************/
    
/*     
    .about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .about-me p{
        padding-top: 35%;
        padding-right: 10%;
        font-size: 1.7em;
    }

    .about-me img{
        width: 100%;
        padding-top: 0%;
    } */

    .parallaxscroll section { /*needed for SURE to get the cool scroll layer effect*/ /*HOW DO I MAKE THE OPEN SCROLL BOX BIGGER UGH*/
        background-attachment: fixed;
        /* background-size: 100% auto; */
        display: flex;
        height: 100vh;
      }

    .bodyandimage {
        padding-left: 11%;
        padding-right:10%;
    }

    .bodyandimage p{
        padding-left: 5%;
        padding-right:0%;
    }

    .image-gallery img{
        padding-left:10%;
        padding-right:10%;
        padding-bottom:3%;

    }

    .banner {
        padding-left:10%;
        padding-right:10%;
        padding-bottom:3%;
    }


    .typo {
        padding-left:10%;
        padding-right:10%;
        padding-bottom:3%;
    }


    .parallaxscroll section h1 {
        margin: auto;
        color: black;
        font-size: 4.5em;
        text-align: right;
        padding-left: 0%;
        font-weight: 400;
      }


      .parallaxscroll section h1 .ibudget{       
         margin: auto;
        color: black;
        /* font-size: 2em; */
        text-align: right;
        padding-left: 0%;
        font-weight: 400;
        text-decoration: none;
        background-color: rgba(200, 196, 244, 0.54);
      }



      .parallaxscroll section h1 .integrate{       
        margin: auto;
       color: black;
       /* font-size: 2em; */
       text-align: right;
       padding-left: 0%;
       font-weight: 400;
       text-decoration: none;
       background-color: rgba(248, 161, 137, 0.54)
       ;

     }




      
/* DIGITALARTSCREEN***************************************************************************************************************************************************************************/


@media screen and (min-width: 1025px){ /*widescreenview  widescreenview  widescreenview widescreenview widescreenview widescreenview widescreenview widescreenview widescreenview widescreenview widescreenview  */
       
    .image-gallery img{
        padding-left:0%;
        padding-right:0%;
        padding-bottom:0%;

    }
    .main-text .designpageparagraph {
        font-size: 3em;
        font-weight: 400;
        padding-left:0%;
    }
     .parallaxscroll section { /*needed for SURE to get the cool scroll layer effect*/
        background-attachment: fixed;
        background-size: 100% auto;
        display: flex;
      }
    
      
    .image-gallery { /*something about this keeps the design page elements the right size on desktop lol */
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 5%; /*changing from 25 from the mobile to 5% */
        padding-right: 3%;
        padding-left: 7%;
        padding-top:15%;
    } 

    .image-gallery p{
        padding-left: 10%;
        font-size: 1.5em;
    } 
    
    .main-text h1{ /*main text in the middle of the page */
        font-size: 3em;
        padding-left: 8%;
        padding-top: 35%;
        color: black;
        font-weight: bold;
    }
    
    .main-text p{
        color: black;
        font-size: 1em;
        text-align: left;
        padding-left: 5%;
        padding-right: 5%;
        padding-botom:0%;
    }
  
    .label {
        font-size: 2.5em; 
        left: 0%;
        /* padding-top: 5%; */  
    }
    .navbar .container-flex ul {
        /* width: 50%; */
        padding-left: 0%;
    }  


    .navbar .container-flex ul li {
    padding: 0%;
} 

    
    .logo {
        font-size: 2.25em;
        padding-left: 4%;
        padding-top: 0%;
        padding-bottom: 3%;
        width: 75%;
        /* position: absolute;
        left: 0;
        top: 0;
        padding-top: 2%; */
    }

    .main-text {
        padding-left: 8%;
        margin-top: 0%;
        padding-bottom: 10%;
    }

    
    .navbar a{
        font-size: 1.1em;
    }

    .navbar{
        height: 70px;
        color: white;
        padding-top: 0%;
    }
    
    .navbar ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 0%;
        align-items: baseline;
        padding-right: 5%;
    }

/* MAKING MAIN PAGE TEXT BIGGER */
    .main-text h1{
        font-size: 6em;
        padding-top: 10%;
        padding-left: 0%;
    }

    .main-text p{
        font-size: 1.25em;
        padding-left: 0%;
    }

/* HOME PAGE SECTIONS RESIZING */

.one img{
    width: 100vh;
}

.two img{
    padding-top: 5%;
}

.scrolltext {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.scrolltext2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.scrolltext p{
    font-size: 1.5em;
    padding-top: 36%;
    padding-left: 15%;
}

.scrolltext2 p{
    font-size: 1.5em;
    padding-top: 25%;
    padding-left: 15%;
}

/*ABOUT ME PAGE *************************************************************************************/
.about-me {
    /* display: flex; */
    flex-direction: row;
    padding-left: 5%;
padding-right: 5%;}


.about-me p{
    padding-left: 5%;
    font-size: 1.5em;
    width: 60vw;
}

.about-me img{
    padding-right: 10%;
    padding-top: 10%;
}

/*FLIP CARD*/

.flip-card {  /* this is the height of the box behind the image w the orange text */
    width: 50vw;
  }
  

  .flip-card-back {
    width: 120%;
  }


/*UI/UX PAGE**************************************************************************************/
.image-galleryone {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
}

.image-galleryone {
    padding-left: 7%;
    padding-right: 7%;
}

.image-gallerytwo {
   padding-left: 7%;
   padding-right: 7%;
}  

.image-gallerytwo {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    padding-bottom: 5%;
    padding-right: 3%;
    padding-left: 3%; 
}
  
 /* DESIGN PAGE ***************************************************************************************/

 .image-gallery { 
        grid-template-columns: 1fr 1fr; 
    } 

    .image-gallery p{
        /* padding-bottom: 10%;
        padding-right: 30%;
        padding-left: 0%;
        padding-top: 20%; */
    } 
  
    .image-gallery img{
        padding-bottom: 5%;
        /* height: 95%;
        padding-left: 15%;
        padding-bottom: 10%;
        padding-right: 5%; */
    }




/* DIGITAL ART PAGE PARALLAX IMAGES **************************************************************/

.parallaxscroll section { 
    background-size: contain;
    background-repeat: no-repeat;
  }
  .parallaxscroll section h1 {
    margin: auto;
    color: white;
    font-size: 4.5em;
    text-align: right;
    padding-left: 40%;
    font-weight: 400;
  }
  
  
  .parallaxscroll section h1 :hover {
      text-decoration: underline;
      text-underline-offset: 20px;
  }

  .parallaxscroll section:first-of-type {
    background-color:#7b68ee
    ;
  }
  
  .parallaxscroll section:nth-of-type(2) {
    background-color: #c8c4f4

    ;
  }
  .parallaxscroll section:last-of-type {
    background-color: #f8a189
    ;  }


/*CONTACT PAGE **************************************************************************************/

.bodyandimage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* padding-left: 2%; */
        padding-top: 0%;
}

.bodyandimage img {
    max-height: 70%;
    padding-left: 5%;
    padding-bottom: 0%;
}

.moreinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding-left: 2%; */
}




.main-text p{ 
    padding-top: 2%;
    width: 60%;
    /* padding-bottom: 15%; */
}




.bodyandimage p{
    width: 80%;
    padding-right: 15%;
    padding-bottom: 0%;

}

.main-text p .civixtext{  
    color: #dc143c;
    font-weight: bold;
}

.main-text p .whylinetext{  
    color: #ff7f50;
    font-weight: bold;
}

.main-text p .umichtext{  
    color: #4169e1;
    font-weight: bold;
}
 

.parallaxscroll .ibudget {
    color: black;
    text-decoration: none;
}

.parallaxscroll .integrate {
    color: black;
    text-decoration: none;
}

.light .footerbar nav ul li{
    color: red;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } */

header {
    background-color: #F5A281;
    width: 100%;
    height: 70px;
  }
  
  ul {
    display: flex;
    /* justify-content: flex-end; */
    list-style-type: none;
  }
  
  li {
    margin: 20px;
    font-family: arial;
  }
  
  li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
/*   
  li a:hover {
    text-decoration: underline;
    color: blue;
  } */
  
  #title {
    margin-right: auto;
    padding-top: 0%;
    padding-left: 7%;
    font-weight:400;
  }
/*   
  ul{
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F5A281;
    padding: 0;    
  }

#title {
  flex-basis: 100%;
  text-align: center;
  margin-left: 0;
}
} */
.moreinfo h2{
    padding-left: 0%;}

.main-text h2{
    font-size: 3em;
    color: black;
}

.main-text p{
    padding-right: 0%;
    /* font-size: 4em;
    font-weight: 500; */


}

.footerlinks {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    padding-bottom: 5%;
}

ul li {
    /* padding: 5px; */
    padding-left: 8%;
}

.arrow {
    box-sizing: border-box;
    height: 2vw;
    width: 2vw;
    border-style: solid;
    border-color: gray;
    border-width: 0px 4px 4px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }
  
  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #0e242d; */
    /* height: 100vh; */
    padding-bottom: 3%;
    padding-top: 4%;
  }
  
  /* #full {
    height: 100vh;
    background-color: #256347;
  } */

  .ityped {
      color: black;
      font-size: 4em;
      font-weight:500; 
      padding-left: 0%;
  }

.banner {
      padding-left: 7%;
      padding-right: 5%;
  }

.typo {
    padding-left: 10%;
    padding-right: 8%;

}


section {
    height: 100vh;
    display: flex;
}


@media screen and (prefers-reduced-motion: reduce){
    .wave {
        animation: none;
    }

 .parallaxscroll section {
     background-attachment: scroll;
 }

 .progress-container {
     background: black;
 }

 .progress-bar {
     background: black;
 }


